.App {
  text-align: center;
}
.App-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.webSeries-container {
  width: 400px;
  margin: 24px;
  border: 7px solid black;
}

.webSeries-summary {
  margin-top: 0px;
}

.webSeries-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.webSeries-N-btn {
  display: flex;
  align-items: center;
  gap: 0px;
}


.webSeries-name {
  margin-top: 1px;
  font-size: 23px;
}

.btn{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}





